.swiper-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.swiper-slide-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  transition: opacity 0.3s ease, transform 0.3s ease;
  height: 400px;
}

.swiper-slide-custom img {
  max-height: 100%;
  max-width: 100%;
}

.swiper-slide-custom.swiper-slide-active {
  opacity: 1;
}

.swiper-slide-custom.swiper-slide {
  transform: scale(0.6);
}

.swiper-slide-custom.swiper-slide-next,
.swiper-slide-custom.swiper-slide-prev {
  transform: scale(0.6);
}

.swiper-slide-custom.swiper-slide-active {
  transform: scale(1);
}

.scrollbar-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 60%;
  height: 8px;
  background-color: #e0e0e0;
  transform: translateX(-50%);
  overflow: hidden;
}

.scrollbar {
  position: absolute;
  height: 100%;
  width: calc(100% / 10); /* Adjust based on the number of slides */
  background-color: #007aff;
  transition: left 0.3s ease;
}

.border-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #007aff;
  pointer-events: none;
}